$l0: #000000;
$l1: var(--l1);

$d0: var(--d0);
$d1: var(--d1);

$f0: #999999;
$f1: #ffffff;

$bdr: rgba(255, 255, 255, 5%);

$c1: #00d1ff;

$hazard1: #FF003D;
$warning1: #fffc5e;
$success1: #50ffab;

$bxshd: 0 0 15px 0 rgba(0, 0, 0, 50%)
