$l0: #000000;
$l1: #181818;

$d0: rgba(255, 255, 255, 8%);
$d1: rgba(255, 255, 255, 13%);

$f0: #999999;
$f1: #ffffff;

$bdr: rgba(255, 255, 255, 5%);

$c1: #FF003D;

$hazzard1: #FF003D;
$warning1: #fffc5e;
$success1: #50ffab;
