// Dark theme
$l0: #000000;
$l1: #080808;
$l2: #121212;

$f0: #999999;
$f1: #cccccc;
$f2: #ffffff;

$d0: rgba(255, 255, 255, 10%);
$d1: rgba(255, 255, 255, 15%);
$d2: rgba(255, 255, 255, 20%);

$ct0: #75001D;
$ct1: #BB01FD
